/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+TC:wght@500;700&family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Martel:wght@400;600;700;800;900&display=swap');

:root {
  /* --ifm-navbar-height: 10rem;   */
  /* --ifm-navbar__items-height: 10rem;  */
  /* --ifm-navbar__items-color: yellow;  */
  /* --ifm-dropdown-background-color:#396245; */
  --ifm-color-primary: #3da237;  
  --ifm-navbar-background-color: #3c3c3c;  
  /* --ifm-font-color: red;    */
  --ifm-navbar-link-color: #D9D8DA;
  /* --ifm-dropdown-link-color: purple;  */
  --ifm-footer-background-color: #3c3c3c; 
  --ifm-footer-color: #D9D8DA;
  /* --ifm-menu-color: #D9D8DA; */
  --ifm-footer-link-color: #D9D8DA; 
  /*var(--ifm-color-emphasis-700); */
  --ifm-footer-link-hover-color: inherit; 
  --ifm-footer-items-color: #3c3c3c;
  --ifm-color-primary-dark: #379231;
  --ifm-color-primary-darker: #348a2f;
  --ifm-color-primary-darkest: #2b7126;
  --ifm-color-primary-light: #43b23d;
  --ifm-color-primary-lighter: #0a1b09;
  --ifm-color-primary-lightest: #5bc555;
  --ifm-code-font-size: 95%;
  /* --ifm-font-family-base: 'Montserrat', sans-serif; */
  }


  .navbar__logo {
    /* max-height: 100%;   */
    /* height: 2rem; */
    /* min-width: 96px; */
     /* padding: 0px; */
    /* max-width: 40%;   */
    /* max-height: 100%;  */
    /* margin-right: -5rem; */
  
    /* height: 4rem;  */
    /* width: 100px;  
  */
    margin: 0px 35px 0px 3px;
    /* ;  
    */
  }   
  
  
  html[data-theme='dark'] {
    /* --ifm-footer-background-color: #3c3c3c;  */
    --ifm-footer-links-color: white; 
    /* --ifm-navbar-background-color: #3c3c3c; 
    --ifm-color-primary-dark: #3c3c3c;
    --ifm-color-primary-darker: #348a2f;
    --ifm-color-primary-darkest: #2b7126;
    --ifm-color-primary-light: #43b23d;
    --ifm-color-primary-lighter: #46ba3f;
    --ifm-color-primary-lightest: #5bc555;
    --ifm-code-font-size: 95%; */
    
    /* /* any other colors you wish to overwrite  */
    }  
    
 

/* .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
} */



.navbar__items {
  /* color:blueviolet!important; */
  /* color:blue !important;  */
  /* background-color: blue; */
  font-size: 0.8rem;
  /* font-variant-caps: unicase; */
  /* font-variant: petite-caps; */
  /* font-stretch: wider; */
  font-weight: bold;
  text-transform: uppercase;  
}

.navbar__title {   
  
  font-family:'Merriweather', 'Gill Sans MT', 'Trebuchet MS'; 
  color: white;  
  font-weight: 100;
  width: 300px; 
  
  /* text-emphasis-color: blue; */
  /* color: red; */
  text-transform: none;
  font-size: 0.9rem;   
  /* margin: -10px 0px 0px 0px;   */
  /* margin-bottom: 0.21rem; */
   /* font-style: italic;  
   
   */ 
}
/* Header Dropdown Menu */
.dropdown__link {
  /* font-family:'Noto Sans', sans-serif; */
  text-transform: capitalize;
  font-weight: 500; 
  font-size: inherit;
  /* font-size: 13px; */
  /* color: rgb(0, 255, 128) !important; */
}



/* .navbar__link--active{
color:rgb(30, 255, 0) !important;
} */

.aspect-ratio--16x9 {
  /* width: 100%; */
  /* height: 100%; */
  /* padding-bottom: 44.5%;  */
  /* margin-bottom: 25%; */
  /* position: relative; */
  /* position:absolute; */
  /* padding-top: 0px; */
  /* margin-top: 0px; */
   /* left: 0; right: 0; bottom: 0; top: 0px */
}


.alt-iframe{
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe{
width: 200px;
}

.navbar__toggle{
  color: #D9D8DA;
}
.aspect-ratio__inner-wrapper {
  display: flex;
  min-height: 90vh;
  /* height: 80vh; */
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
.ee_embed {
  /* padding-top: 0px; */
  /* margin-top: 60px; */
  width: 100%;
  /* height: 80%; */
}

.header-home-icon:before{
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background:url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" version="1.0"><path style="fill:#000" d="M25 9.094 7.281 25.374h5.563v15.532h24.312V25.375h5.563L25 9.094z"/></svg>')
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background:url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" version="1.0"><path style="fill:#000" d="M25 9.094 7.281 25.374h5.563v15.532h24.312V25.375h5.563L25 9.094z"/></svg>')

  /* background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") */
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background:url('data:image/svg+xml,%3Csvg  xmlns="http://www.w3.org/2000/svg" version="1.0"><path style="fill:#000" d="M25 9.094 7.281 25.374h5.563v15.532h24.312V25.375h5.563L25 9.094z"/></svg>')

  /* background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") */
    no-repeat;
}

html[data-theme='dark'] .header-home-icon:before { 
  background:url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" version="1.0"><path style="fill:#000" d="M25 9.094 7.281 25.374h5.563v15.532h24.312V25.375h5.563L25 9.094z"/></svg>')
}

.custom-tagline {
  background-color: #2b7126;
  /* #3c3c3c; */ 
  color: #D9D8DA;
  font-size: 0.8rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* font-style: italic; */
  /* background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));  */
  padding: 0em 0em 0 12em;
  margin: 0px; 
}

.custom-tagline::before {
  content: "Explore your watersheds. Get data. Make informed decisions."; /* Insert content that looks like bullets */
}
 

.alt-flexbox {
  display: flex;
  background-color: #0C0A0B;
  color: #d8dad8;
  /* background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
   background-size: cover;
  justify-content: top;
  align-items: center;
  /* height:90vh; */
  padding: 30px;
/*   
  flex-direction: row;
  */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  box-sizing: border-box;
  /* margin: 20px 100px;  */
}

.item {
  box-sizing: border-box;
  width: 50%;
  /* margin-bottom: 20px; */
  padding: 0px 20px;
}

.content {
  /* color: #242424; */
  /* background-color: #1bbefe; */
  /* font-weight: 600; */
  /* text-align: center; */
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}


/* img {
  object-fit: cover;
  width: 100%;
} */

.hero{
  display: flex;
  /* opacity: 0.5; */
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
   url("/static/img/lid.png");
   background-size: cover;
  justify-content: top;
  align-items: center;
  height:90vh;
}

.hero__title{
  /* margin-top: 15rem;  */
  padding: 0rem;


}
